
.add-record-input {
	display: block;
	width: 100%;
	padding: 0 15px;
	margin: 10px 0 15px;
	border-width: 0;
	line-height: 40px;
	border-radius: 20px;
	color: white;
	background: rgba(255, 255, 255, 0.192);
	font-family: "Roboto", sans-serif;
}
