.KinoApp .Form {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.KinoApp .Form .add-record-input {
	display: block;
	width: 50%;
	padding: 5px 15px;
	margin: 10px 0 15px;
	border-width: 0;
	line-height: 40px;
	border-radius: 20px;
	border: 1px solid rgb(0, 47, 255);
	color: rgb(0, 0, 0);
	font-size: 24px;
	background: rgba(0, 247, 255, 0.5);
	font-family: "Roboto", sans-serif;
	outline: none;
}
.KinoApp .Form .add-record-button {
	font-size: 22px;
	padding: 10px 20px;
	border-radius: 20px;
	color: rgb(0, 47, 255);
	border: 3px solid rgb(0, 47, 255);
	background-color: rgb(0, 247, 255);
	outline: none;
}
